<% layout('layouts/boilerplate') %>
<% if(process.env.SHOW_CLUSTER_MAP == 'YES') { %>
<div id='map' class="cluster-map"></div>
<% } %>
<h1 class="fs-2 text-white fst-italic mb-3">Campgrounds</h1>
<% for(let camp of campgrounds) { %>
    <div class="card mb-3">
        <div class="row ">
            <div class="col-md-4 mx-0 my-auto text-center text-md-start">
                <% if(camp.images.length>0) {%>
                <img src="<%= camp.images[0].indexThumb%>" class="img-fluid rounded" alt="...">
                <% } else { %>
                <img src="https://res.cloudinary.com/duhlvrita/image/upload/v1703880870/YelpCamp/reserved/dson2cwx1vlffxyn1qeg.jpg" class="img-fluid rounded" alt="...">
                <% } %>
            </div>
            <div class="col-md-8 text-center my-auto text-md-start">
                <div class="card-body">
                    <h5 class="card-title"><%= camp.title %></h5>
                    <p class="card-text"><%= camp.description %></p>
                    <p class="card-text text-muted"><%= camp.location %></p>
                    <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">View <%= camp.title %></a>
                </div>
            </div>
        </div>
    </div>
<% } %>
<nav aria-label="Page navigation example" class="d-flex justify-content-center">
    <ul class="pagination">
      <li class="page-item"><a class="page-link <%= pageNumber === 1 && 'disabled' %> " href="/campgrounds/?p=<%= pageNumber-1 %>">Previous</a></li>
        <% for (var i=beforePg; i <=afterPg; i++ ) { %>
            <li class="page-item"><a class="page-link <%= i===pageNumber && 'active' %>" href="/campgrounds/?p=<%= i %>"><%= i %></a></li>
        <% } %>
      <li class="page-item"><a class="page-link <%= pageNumber === afterPg && 'disabled' %>" href="/campgrounds/?p=<%= pageNumber+2 %>">Next</a></li>
    </ul>
  </nav>
<script>
    const mapboxtoken = '<%- process.env.MAPBOX_TOKEN %>';
    const campGeoData = {features:<%- JSON.stringify(campgrounds.map(itm=>itm.geoData)) %>};
</script>
<% if(process.env.SHOW_CLUSTER_MAP == 'YES') { %>
    <script src="/javascripts/indexMapCluster.js"></script>    
<% } %>
